{% extends "template.html" %}

{% block title %}Détails de l'OS{% endblock title %}

{% block h1 %}
    Détails de l'OS
{% endblock h1 %} 

{% block navbar %}
<a class="nav-link" href="/ver/add">Ajouter une version</a>
{% endblock navbar %}

{% block content %}
    <p>{{operatingsystem}} (ID: {{operatingsystem.id}}) <a type="button" class="btn btn-primary" href="/os/edit/{{operatingsystem.id}}">Modifier</a></p>

    <h2 class="secondary-title">Liste des versions</h2>
    <table class="table is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th>OS</th>
            <th>Nom</th>
            <th>Date de sortie</th>
            <th>Plateforme</th>
            <th class="text-end">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ver in versions %}
        <tr>
            <td><a href="/ver/details/{{ver.id}}/">{{ver.id}}</td>
            <td>{{ver.operating_system.name}}</td>
            <td>{{ver.name}}</td>
            <td>{{ver.release_date}}</td>
            <td>{{ver.platforms}}</td>
            <td class="text-end">
                <a type="button" class="btn btn-primary" href="/ver/details/{{ver.id}}/">Détails</a>
                <a type="button" class="btn btn-secondary" href="/ver/edit/{{ver.id}}/">Modifier</a>
                <a type="button" class="btn btn-danger" href="/ver/delete/{{ver.id}}/">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}