{% extends "template.html" %}

{% block title %}Liste des OS{% endblock title %}

{% block h1 %}Liste des OS{% endblock h1 %} 

{% block navbar %}
<a class="nav-link" href="/os/add">Ajouter un OS</a>
{% endblock navbar %}

{% block content %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th>Name</th>
            <th>Developer</th>
            <th>License</th>
            <th class="text-end">Actions</th>
        </tr>
        </thead>
        {% for os in operatingsystem %}
        <tbody>
        <tr>
            <td><a href="/os/details/{{os.id}}/">{{os.id}}</td>
            <td>{{os.name}}</td>
            <td>{{os.developer}}</td>
            <td>{{os.software_license}}</td>
            <td class="text-end">
                <a type="button" class="btn btn-primary" href="/os/details/{{os.id}}/">Détails</a>
                <a type="button" class="btn btn-secondary" href="/os/edit/{{os.id}}/">Modifier</a>
                <a type="button" class="btn btn-danger" href="/os/delete/{{os.id}}/">Supprimer</a>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    
{% endblock content %}