{% extends "template.html" %}

{% block title %}Liste des version{% endblock title %}

{% block h1 %}Liste des version{% endblock h1 %} 

{% block navbar %}
<a class="nav-link" href="/ver/add">Ajouter une version</a>
{% endblock navbar %}

{% block content %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th>Nom</th>
            <th>Version de</th>
            <th>Date de sortie</th>
            <th>Plateforme(s)</th>
            <th class="text-end">Actions</th>
        </tr>
        </thead>
        {% for ver in versions %}
        <tbody>
        <tr>
            <th><a href="/ver/details/{{ver.id}}/">{{ver.id}}</th>
            <td>{{ver.name}}</td>
            <td>{{ver.operating_system.name}}</td>
            <td>{{ver.release_date}}</td>
            <td>{{ver.platforms}}</td>
            <td class="text-end">
                <a type="button" class="btn btn-primary" href="/ver/details/{{ver.id}}/">Détails</a>
                <a type="button" class="btn btn-secondary" href="/ver/edit/{{ver.id}}/">Modifier</a>
                <a type="button" class="btn btn-danger" href="/ver/delete/{{ver.id}}/">Supprimer</a>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>  
{% endblock content %}