{% extends "template.html" %}

{% block title %}Liste des version{% endblock title %}

{% block h1 %}Liste des version{% endblock h1 %} 

{% block sidebar %}
<ul>
    <li><a href="/ver/add">Ajouter</a></li>
</ul>
{% endblock sidebar %}

{% block content %}
    {% for os in operatingsystem %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th>Name</th>
            <th>Developer</th>
            <th>License</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th><a href="/ver/details/{{os.id}}/">{{os.id}}</th>
            <td>{{os.name}}</td>
            <td>{{os.developer}}</td>
            <td>{{os.software_license}}</td>
            <td><a href="/ver/details/{{os.id}}/">Détails</a><td>
            <td><a href="/ver/edit/{{os.id}}/">Modifier</a><td>
            <td><a href="/ver/delete/{{os.id}}/">Supprimer</a><td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
{% endblock content %}