{% extends "template.html" %}

{% block title %}Liste des version{% endblock title %}

{% block h1 %}Liste des version{% endblock h1 %} 

{% block sidebar %}
<ul>
    <li><a href="/ver/add">Ajouter</a></li>
</ul>
{% endblock sidebar %}

{% block content %}
    {% for ver in versions %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
        <tr>
            <th><abbr title="ID">ID</abbr></th>
            <th>Name</th>
            <th>Developer</th>
            <th>License</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th><a href="/ver/details/{{ver.id}}/">{{ver.id}}</th>
            <td>{{operating_system.name}}</td>
            <td>{{ver.name}}</td>
            <td>{{ver.release_date}}</td>
            <td>{{ver.platforms}}</td>
            <td><a href="/ver/details/{{ver.id}}/">Détails</a><td>
            <td><a href="/ver/edit/{{ver.id}}/">Modifier</a><td>
            <td><a href="/ver/delete/{{ver.id}}/">Supprimer</a><td>
        </tr>
        </tbody>
    </table>
    {% endfor %}
{% endblock content %}