@font-face {
    font-family: noto;
    src: url(./NotoSans-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "noto";
}

#content {
    width: 80%;
    margin: auto;
}

#navbar {
    width: 10%;
    float: left;
}

#navbar ul {
    list-style-type: none;
}

#top {
    text-align: center;
    background-color: red;
}

td {
    padding-left: 1em;
    padding-right: 1em;
  }
  
tr:first-child {
    padding-left: 0;
}
  
tr:last-child {
    padding-right: 0;
}