
html {
    scroll-behavior: smooth;
}

#content {
    width: 80%;
    margin: auto;
}

/* .navbar {
    margin-bottom: 1em;
} */

.maint-title {
    margin: 1em;
}

.secondary-title {
    margin: 1em;
}
td {
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    #content {
        width: 100%;
    }
}

/* 
tr:first-child {
    padding-left: 0;
}
  
tr:last-child {
    padding-right: 0;
} */