
html {
    scroll-behavior: smooth;
}

#content {
    width: 80%;
    margin: auto;
}

/* .navbar {
    margin-bottom: 1em;
} */

.maint-title {
    margin: 1em;
}

.secondary-title {
    margin: 1em;
}
/* td {
    padding-left: 1em;
    padding-right: 1em;
  }
  
tr:first-child {
    padding-left: 0;
}
  
tr:last-child {
    padding-right: 0;
} */